<div class="container">
  <%= simple_form_for @sea do |f| %>
    
    <%= f.input :name %>

    
    <%= f.input :temperature, as: :float %>

    
    <%= f.input :bio, as: :text %>

    
    <%= f.input :image_url %>

    
    <%= f.input :mood %>

    
    <%= f.input :favorite_color %>

    
    <%= f.input :scariest_creature %>

    
    <%= f.input :has_mermaids, as: :check_boxes %>

    <%=  f.button :submit, class: "btn-primary" %>

  <% end %>
</div>
